# Database
DATABASE_URL=file:../../packages/prisma/minute.db?socket_timeout=30

# Minute
ORIGIN=http://localhost:4000

# NextAuth
NEXTAUTH_URL=http://localhost:4000
NEXTAUTH_SECRET=
GITHUB_ID=
GITHUB_SECRET=

# Allowlist
ALLOWED_IPS=
ALLOWED_GITHUB_IDS=

# Local OBS/Raycast APIs
OBS_RAYCAST_USER_ID=
